{% extends 'blog/blog_base.html' %}
{% block title %}Delete Hacker Story{% endblock %}
{% block content %}
    <a class="exit" href="{% url 'blog:show_my_hacker_stories_view' %}"><strong>Quit</strong></a>
    <section class="basic_layout">
        <div class="inner_layout">
            <form class="inner_input" method="post"
                  action="{% url 'blog:delete_my_hacker_story_view' delete_id=delete_id %}">
                {% csrf_token %}
                <div class="story_content">
                    <h1>{{ story.story_title }}</h1>
                    <p>{{ story.story_content }}</p>
                    <br><br>
                    <input class="button" type="submit" value="Delete">
                </div>

            </form>
        </div>
    </section>
{% endblock %}