{% extends 'blog/blog_base.html' %}
{% block title %}Edit Hacker Story{% endblock %}
{% block content %}
    <a class="exit" href="{% url 'blog:show_my_hacker_stories_view' %}"><strong>Quit</strong></a>
    <section class="basic_layout">
        <div class="inner_layout">
            <p><strong>{{ error }}</strong></p>
            <h1>Editor</h1>
            <form class="inner_input" method="post" action="{% url 'blog:edit_my_hacker_story_view' my_story_id=my_story_id %}">
                {% csrf_token %}
                {% for story in edit_story_form %}
                    {{ story.label }}<br>
                    {{ story }}<br>
                {% endfor %}
                <br><br>
                <input class="button" type="submit" value="Save">
            </form>
        </div>
    </section>
{% endblock %}