{% extends 'blog/blog_base.html' %}
{% block title %}My Hacker Stories{% endblock %}
{% block content %}
    <a class="exit" href="{% url 'blog:welcome_hacker_view' %}"><strong>Quit</strong></a>
    <section class="basic_layout">
        <div class="center_layout">
            <table>
                <tr>
                    <th>Posting Date</th>
                    <th>Title</th>
                </tr>
                {% for story in my_stories %}
                    <tr>
                        <td>{{ story.creation_date }}</td>
                        <td>{{ story.story_title }}</td>
{#                        <td><a href="{% url 'blog:edit_my_hacker_story_view' story_id=story.pk %}">Edit</a></td>#}
                    </tr>
                {% empty %}
                    <tr><td>No stories yet to edit.</td></tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}