{% extends 'blog/blog_base.html' %}
{% block title %}Hacker Stories{% endblock %}
{% block content %}
    <a class="exit" href="{% url 'blog:welcome_hacker_view' %}"><strong>Quit</strong></a>
    <section class="basic_layout">
        <div class="center_layout">
            <ul>
                {% for story in stories %}
                    <li> date in need - {{ story.story_title }}</li>
                {% empty %}
                    <li>No stories yet to read.</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}