<nav>
    <section class="basic_layout">
        <div class="box">
            {% if user.is_authenticated %}
                <div class="box_link">{{ user.username }}</div>
                <a class="box_link" href="{% url 'blog:user_logout_view' %}">Logout</a>
            {% else %}
                <a class="box_link" href="{% url 'blog:user_login_view' %}">Login</a>
                <a class="box_link" href="{% url 'blog:user_sign_up_view' %}">Sign Up</a>
            {% endif %}
        </div>
    </section>
</nav>